@media screen and (max-width: 800px) {
  .container {
    margin: 20px 0;
  }

  .main-team {
    margin-top: -5rem;
  }

  #logo-top-left {
    display: none;
  }

  #home-title-top-left {
    display: none;
  }

  #logo-phone {
  position: static;
  display: block;
  margin: 0 auto;
  width: 22rem;
}

  nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;          /* IMPORTANT */
  padding: 1.5rem 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-top: 2rem;
  padding: 0;

  gap: 1.2rem;
}

nav li {
  position: static !important;
  left: auto !important;
  font-size: 2rem;
}

nav li a {
  font-size: 2rem;
}

  h2 {
    margin-left: 7.5%;
    margin-right: 7.5%;
  }

  /* Text in the main (each paragraph) */
  .main-p {
    margin-left: 7.5%;
    margin-right: 7.5%;
  }

  ol {
    margin-left: 7.5%;
    margin-right: 7.5%;
  }

  ul {
    margin-left: -5%;
  }

  ol li {
    margin-left: -1rem;
  }

  ul li {
    margin-left: 1rem;
  }

  .pcontent {
    margin-left: 10%;
    margin-right: 10%;
  }

  /* Bottom banner */
  .bottom-banner {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }

  h3 {
    text-align: center;
    font-size: 4.5rem;
    margin-left: 7.5%;
    margin-right: 7.5%;
  }

  h6 {
    text-align: left;
    font-size: 2.6rem;
    margin-left: 7.5%;
    margin-right: 7.5%;
  }

  h5 {
    margin-left: 7.5%;
    margin-right: 7.5%;
  }

  h4 {
    text-align: center;
    margin-left: 7.5%;
    margin-right: 7.5%;
    transform: translateY(27.5rem);
  }

  .h4-name {
    font-size: 2.6rem;
  }

  .h4-surname {
    font-size: 2.6rem;
  }

  .team-p {
    margin-left: 7.5%;
    margin-right: 7.5%;
  }

  .team-pictures {
    float: none;
    position: relative;
    text-align: center;
    margin: auto;
    display: flex;
    width: 20rem;
    margin-top: 6rem;
    margin-bottom: 2.5rem;
  }

  #hr-team {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
  }

  #anne-text {
    margin-bottom: 0rem;
  }

  .ul-non-nested {
    margin-left: 7.5%;
    margin-right: 7.5%;
  }

  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;   /* Hide desktop menu */
  }

  nav ul {
  display: none;
}

}


