@media screen and (max-width: 1400px) {
  /* Main logo */
  #logo-top-left {
    width: 17rem;
    transform: translateX(-5rem);
  }

  #home-title-top-left {
    margin-left: 21%;
    font-size: 4vw;
  }

  nav ul {
    margin-right: 15%;
  }

  h2 {
    margin-left: 21%;
    margin-right: 15%;
  }

  /* Text in the main (each paragraph) */
  .main-p {
    margin-left: 21%;
    margin-right: 15%;
  }

  /* Bottom banner */
  .bottom-banner {
    padding-left: 21%;
    padding-right: 15%;
  }
}

@media screen and (max-width: 1000px) {
  /* Main logo */
  #logo-top-left {
    width: 15rem;
  }

  #home-title-top-left {
    margin-left: 21%;
    margin-right: 30%;
    margin-top: 3rem;
    font-size: 4rem;
  }
}

@media screen and (max-width: 800px) {
  #logo-top-left {
    display: none;
  }

  #home-title-top-left {
    display: none;
  }

  nav {
    display: block;
    padding: 0 0 0 0rem;
    width: 60%;
    height: 23rem;
    display: block;
    text-align: center;
  }

  #logo-phone {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: -20%;
    left: 5%;
    width: 50rem;
  }

  nav ul {
    width: 120%;
    position: relative;
    top: 8%;
    right: 50%;
    transform: translateX(13%);
  }

  nav li {
    list-style: none;
    position: relative;
    left: 50%;
    font-size: 3.8vw;
  }

  nav li a {
    font-size: 3.8vw;
  }

  h2 {
    margin-left: 7.5%;
    margin-right: 7.5%;
    font-family: "Source Sans Pro Semibold", sans-serif;
  }

  /* Text in the main (each paragraph) */
  .main-p {
    margin-left: 7.5%;
    margin-right: 7.5%;
    font-family: "Source Sans Pro Light", sans-serif;
  }

  /* Bottom banner */
  .bottom-banner {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}

@media screen and (max-width: 600px) {
  nav {
    height: 21rem;
  }

  #logo-phone {
    top: -14%;
    width: 38rem;
    transform: translateX(2%);
  }

  nav ul {
    width: 160%;
    position: relative;
    top: 0%;
    right: 50%;
    transform: translateX(15%);
  }

  nav li {
    font-size: 4.5vw;
  }

  nav li a {
    font-size: 4.5vw;
  }
  .main-home {
    float: left;
    margin-top: 4rem;
  }
}
