@media screen and (max-width: 1400px) {
  /* Main logo */
  #logo-top-left {
    width: 17rem;
    transform: translateX(-5rem);
  }

  #home-title-top-left {
    margin-left: 21%;
    font-size: 4vw;
  }

  nav ul {
    margin-right: 15%;
  }

  h2 {
    margin-left: 21%;
    margin-right: 15%;
  }

  h6 {
    margin-left: 21%;
  }

  /* Text in the main (each paragraph) */
  .main-p {
    margin-left: 21%;
    margin-right: 15%;
  }

  ol {
    margin-left: 21%;
  }

  .pcontent {
    margin-left: 25%;
    margin-right: 15%;
  }

  /* Bottom banner */
  .bottom-banner {
    padding-left: 21%;
    padding-right: 15%;
  }

  /* subTitles (bright green) */
  h3 {
    margin-left: 21%;
    margin-right: 15%;
  }

  h4 {
    margin-left: 21%;
  }

  h5 {
    margin-left: 21%;
    margin-right: 15%;
  }

  .team-p {
    margin-left: 21%;
    margin-right: 15%;
  }

  #hr-team {
    width: 64%;
    margin-left: 21%;
    margin-right: 15%;
  }

  #anne-text {
    margin-bottom: 6rem;
  }

  .team-pictures {
    transform: translateY(-3rem);
  }
}

@media screen and (max-width: 1000px) {
  /* Main logo */
  #logo-top-left {
    width: 15rem;
  }

  #home-title-top-left {
    margin-left: 21%;
    margin-right: 30%;
    margin-top: 3rem;
    font-size: 4rem;
  }
}

@media screen and (max-width: 800px) {
  #logo-top-left {
    display: none;
  }

  #home-title-top-left {
    display: none;
  }

  nav {
    display: block;
    padding: 0 0 0 0rem;
    width: 60%;
    height: 23rem;
    display: block;
    text-align: center;
  }

  #logo-phone {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: -20%;
    left: 5%;
    width: 50rem;
  }

  nav ul {
    width: 120%;
    position: relative;
    top: 8%;
    right: 50%;
    transform: translateX(13%);
  }

  nav li {
    list-style: none;
    position: relative;
    left: 50%;
    font-size: 3.8vw;
  }

  nav li a {
    font-size: 3.8vw;
  }

  h2 {
    margin-left: 7.5%;
    margin-right: 7.5%;
  }

  /* Text in the main (each paragraph) */
  .main-p {
    margin-left: 7.5%;
    margin-right: 7.5%;
  }

  ol {
    margin-left: 7.5%;
  }

  ol li {
    margin-left: 0.5rem;
  }

  .pcontent {
    margin-left: 10%;
    margin-right: 10%;
  }

  /* Bottom banner */
  .bottom-banner {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }

  h3 {
    text-align: center;
    font-size: 4.5rem;
    margin-left: 7.5%;
    margin-right: 7.5%;
  }

  h6 {
    text-align: left;
    font-size: 2.6rem;
    margin-left: 7.5%;
    margin-right: 7.5%;
  }

  h5 {
    margin-left: 7.5%;
    margin-right: 7.5%;
  }

  h4 {
    text-align: center;
    margin-left: 7.5%;
    margin-right: 7.5%;
    transform: translateY(27.5rem);
  }

  .h4-name {
    font-size: 2.6rem;
  }

  .h4-surname {
    font-size: 2.6rem;
  }

  .team-p {
    margin-left: 7.5%;
    margin-right: 7.5%;
  }

  .team-pictures {
    float: none;
    position: relative;
    text-align: center;
    margin: auto;
    display: flex;
    width: 20rem;
    margin-top: 6rem;
    margin-bottom: 2.5rem;
  }

  #hr-team {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
  }

  #anne-text {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 600px) {
  nav {
    height: 20rem;
  }

  #logo-phone {
    top: -14%;
    width: 36rem;
    transform: translateX(2%);
  }

  nav ul {
    width: 160%;
    position: relative;
    top: -8%;
    right: 50%;
    transform: translateX(15%);
  }

  nav li {
    font-size: 4.5vw;
  }

  nav li a {
    font-size: 4.5vw;
  }
  .main-home {
    float: left;
    margin-top: 4rem;
  }
}

@media screen and (max-width: 400px) {
  #logo-phone {
    margin-top: 15%;
    width: 80%;
    transform: translateX(2%);
  }

  nav ul {
    position: absolute;
    margin-top: 55%;
    transform: translateX(7%);
  }

  nav {
    height: 45vw;
  }

  .team-p {
    margin-left: 7.5%;
    margin-right: 7.5%;
  }

  .team-pictures {
    margin-top: 3rem;
    margin-bottom: 7rem;
  }
}
