* {
  margin: 0rem 0rem 0rem 0rem;
  box-sizing: border-box;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  font-family: "Source Sans Pro Light", sans-serif;
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

a:hover {
  color: #f7cf23;
  opacity: 0.9;
  transition: 0.1s;
}

a:hover span {
  color: #f7cf23;
  opacity: 0.7;
  transition: 0.1s;
}

.clear {
  clear: both;
}

/* Banner takes the whole page */
.banner {
  width: 100%;
  background: #f2f2f2;
}

/* Grey banner */
nav {
  display: block;
  margin-left: 8%;
  margin-right: 20%;
  padding: 1.6rem 0 0 0rem;
  color: rgb(35, 35, 35);
  height: 22rem;
}

/* Main logo */
#logo-top-left {
  position: absolute;
  width: 19rem;
  transform: translateY(-1rem);
}

#home-title-top-left {
  position: absolute;
  left: 0px;
  margin-top: 5rem;
  margin-left: 25%;
  font-family: "Source Sans Pro Semibold", sans-serif;
  font-size: 5rem;
  color: #96b193;
  display: block;
}

/* Unordered list = the navigation float */
nav ul {
  position: absolute;
  right: 0px;
  margin-right: 20%;
  margin-top: 28rem;
  float: right;
  list-style: none;
  transform: translateY(-12rem);
}

/* Elements of the ul */
nav li {
  float: left;
  margin: 0rem 0rem 0rem 1vw;
  font-size: 2.2rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #95b092;
}

/* Size of elements of ul */
nav a {
  font-size: 2.2rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #363e36;
}

/* Colour of targeted link */
.tab-target {
  color: #847e69;
}

.main-home {
  float: left;
  margin-top: 8rem;
}

.text {
  margin-bottom: 10rem;
}

.main-text {
  font-size: 1.8rem;
  margin-bottom: 4rem;
  margin-left: 25%;
  margin-right: 20%;
  margin-bottom: 2rem;
}

h2 {
  font-family: "Source Sans Pro Semibold", sans-serif;
  font-size: 3.5rem;
  margin-bottom: 1.2rem;
  color: #366634;
  margin-left: 25%;
  margin-right: 20%;
}

/* Banner takes the whole page a*/
.bottom-banner {
  width: 100%;
  background: #7e9f86;
  height: 25rem;
  padding-left: 25%;
  padding-right: 20%;
  padding-top: 3rem;
}

.bottom-banner-title {
  font-family: "Source Sans Pro", sans-serif;
  color: #f7cf23;
  font-size: 1.8rem;
}

.bottom-banner-content {
  font-style: italic;
  color: #f2f2f2;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
