* {
  margin: 0rem 0rem 0rem 0rem;
  box-sizing: border-box;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

html {
  font-size: 10px;
}

a:hover {
  color: #e4af0e;
  opacity: 0.9;
  transition: 0.1s;
}

a:hover span {
  color: #e4af0e;
  opacity: 0.7;
  transition: 0.1s;
}

/* Colour of targeted link */
.tab-target a {
  color: #e4af0e;
}

.clear {
  clear: both;
}

/* Banner takes the whole page */
.banner {
  width: 100%;
  background: #f2f2f2;
}

/* Grey banner */
nav {
  display: block;
  margin-left: 8%;
  margin-right: 20%;
  padding: 1.6rem 0 0 0rem;
  color: rgb(35, 35, 35);
  height: 22rem;
}

/* Main logo */
#logo-top-left {
  position: absolute;
  width: 19rem;
  transform: translateY(-1rem);
}

#logo-phone {
  display: none;
}

#home-title-top-left {
  position: absolute;
  left: 0px;
  margin-top: 5rem;
  margin-left: 25%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 5rem;
  color: #96b193;
  display: block;
}

/* Unordered list = the navigation float */
nav ul {
  position: absolute;
  right: 0px;
  margin-right: 20%;
  margin-top: 16rem;
  float: right;
  list-style: none;
}

/* Elements of the ul */
nav li {
  position: relative;
  display: inline-block;
  margin: 0rem 0rem 0rem 1vw;
  font-size: 2.2rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #95b092;
}

/* Size of elements of li, which are anchors */
nav li a {
  font-size: 2.2rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #363e36;
}

/* Main content */
.main-home {
  float: left;
  margin-top: 8rem;
}

/* Text in the main (global div) */
.text-div {
  margin-bottom: 10rem;
}

/* Titles (dark green) */
h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 3.5rem;
  margin-bottom: 1.2rem;
  color: #366634;
  margin-left: 25%;
  margin-right: 20%;
}

/* subTitles (bright green) */
h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 2.6rem;
  margin-bottom: 0rem;
  color: #e4af0e;
  margin-left: 25%;
  margin-right: 20%;
  margin-top: 8rem;
}

/* subsubTitles (grey-green green) */
h4 {
  font-size: 2rem;
  margin-bottom: 0.4rem;
  margin-left: 25%;
  margin-right: 20%;
}

/* Text in the main (each paragraph) */
.main-p {
  font-size: 1.8rem;
  margin-bottom: 4rem;
  margin-left: 25%;
  margin-right: 20%;
  margin-bottom: 2rem;
}

/* Bototm banner */
.bottom-banner {
  width: 100%;
  background: #7e9f86;
  height: 38rem;
  padding-left: 25%;
  padding-right: 20%;
  padding-top: 3rem;
}

/* Bototm banner titles */
.bottom-banner-title {
  font-family: "Source Sans Pro", sans-serif;
  color: #f7cf23;
  font-size: 1.8rem;
}

/* Bottom banner content */
.bottom-banner-content {
  font-style: normal;
  font-weight: 200;
  color: #f2f2f2;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.bottom-banner-content a {
  font-style: italic;
  font-weight: 400;
  color: #f2f2f2;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.bottom-banner-content a:hover {
  color: #fff7d1;
  opacity: 0.9;
  transition: 0.1s;
}

#hr-team {
  margin-top: 6rem;
  margin-bottom: -3rem;
  width: 55%;
  margin-left: 25%;
  margin-right: 20%;
  border: 0;
  height: 0.1rem;
  background-color: #dcd6ce;
}

/* Main content */
.main-team {
  float: left;
  margin-top: 0rem;
}

.team-p {
  font-size: 1.8rem;
  margin-left: 25%;
  margin-right: 20%;
  margin-bottom: 6rem;
}

.team-pictures {
  border-radius: 50%;
  float: right;
  margin-left: 6rem;
  width: 13rem;
  transform: translateY(-3rem);
}

.h4-name {
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 2.3rem;
  color: #2b432d;
}

.h4-surname {
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 2.3rem;
  color: #2b432d;
}

h5 {
  font-size: 2rem;
  margin-bottom: 0rem;
  margin-left: 25%;
  margin-right: 20%;
}

.h5-lecturer {
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 2.3rem;
  color: #2b432d;
}
